.restaurant-item {
    display: inline-block;
    width: 220px;
    padding: 15px 20px;
    text-align: center;
    border: 1px solid #fff;
    vertical-align: middle;
    height: 220px;
    margin: 10px;
    div {
        padding: 5px;
    }

    &:hover, &.active {
        background: rgba(255, 255, 255, 0.2);
    }
}

.restaurant-name {
    margin-top: 5px;
    font-size:18px;
    color: #fff;
}

.restaurant-logo{
    width: auto;
    height: 70px;
}

.restaurant-address {
    margin-top: 3px;
    font-size:15px;
    color: #fff;
    opacity: 0.7;
}

.restaurant-item-button {
    width: 90%;
    text-align: center;
    height: 25px;
    margin: 3px 0;
    background: #fff;
    color: #7c0f0f;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    
    &:focus{
        outline: none;
    }
    &:hover{
        background: inherit;
        color: #fff;
        border: 1px solid #fff;
	}
}