@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.find-location-heading {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
}

.view-buttons-container {
    width: 340px;
    margin: auto;
}

.view-button {
    width: 150px;
    text-align: center;
    font-weight: 600;
    height: 30px;
    margin: 10px;
    background: #fff;
    color: #7c0f0f;
    text-transform: uppercase;
    border: none;
    &:focus{
        outline: none;
    }
    &:hover{
        border: 2px solid #fff;
		background-color: #7c0f0f;
		color: #fff;
	}
}

.find-location-search {
    position: absolute;
    vertical-align: middle;
    white-space: nowrap;

    .fa-search {
        position: absolute;
        top:50%;
        right: 15px;
        margin-top: -12.5px;
        z-index: 1;
        color: #000;
        font-size: 25px;
    }
}

.search-input {
    margin-left: 30px;
    box-sizing: border-box;
    width: 250px;
    height: 35px;
    border-radius: 20px;
    padding-left: 15px;
    border: none;
    outline: none;
    font-size: 19px;
    font-weight: 300;
    color: #000;

    &::placeholder {
        color: #989898;
    }
}

.list-container-grid {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.list-container-map {
    margin: auto;
    margin-top: 50px;
    width: 30%;
    display: inline-block;
    height: 430px;
    overflow: hidden;

    div {
        margin: auto;
    }

    &:hover {
        overflow-y: auto;
    }
}

.map-container {
    width: 70%;
    display: inline-block;
    height: 430px;
}



////////////////////////////////////
.mySlider-container { 
    width: 80%;
   // height: 200px;
    margin: 0 auto; 
    // width: 90%; 
    color: #333;
}

.myitem{
    width: 220px;
    padding: 15px 20px;
    text-align: center;

    div {
        padding: 5px;
    }

    &:hover, &.active {
        background: rgba(255, 255, 255, 0.2);
    }
}

.content {
    padding: 20px;
    width: 90%;
}

.slick-slider {
margin: 30px auto 50px;
}

.slick-dots {
    margin-left: 0;
}

  @media (max-width: 768px) {
    .center {
      margin-left: -40px;
      margin-right: -40px;
    }
  }

  .slick-vertical .slick-slide {
    height: 180px;
  }
  .slick-arrow {
    background-color: grey;
  }
  .slick-arrow:hover {
    background-color: grey;
  }
