.findplace-heading {
    position: absolute;
    text-align: center;
    font-size: 25px;
    color: white;
    height: 100px;
    display: block;
}

.findplace-search {
    position: absolute;
    margin-top: 100px;
    vertical-align: middle;
    white-space: nowrap;

    .fa-search {
        position: absolute;
        top:50%;
        right: 15px;
        margin-top: -12.5px;
        z-index: 1;
        color: #000;
        font-size: 25px;
    }
}

.list-container-grid {
    margin-top: 150px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 430px;
    overflow: hidden;
    
    &:hover {
        overflow-y: auto;
    }
}

.list-container-map {
    margin-top: 150px;
    width: 45%;
    margin-right: 5px;
    text-align: center;
    height: 430px;
    overflow: hidden;

    &:hover {
        overflow-y: auto;
    }
}

.restaurant-item {
    display: inline-block;
    width: 220px;
    padding: 15px 20px;
    text-align: center;

    div {
        padding: 5px;
    }

    &:hover, &.active {
        background: rgba(255, 255, 255, 0.2);
    }
}

.map-container {
    margin-top: 150px;
    width: 80%;
    height: 430px;
}

.view-button {
    width: 230px;
    text-align: center;
    height: 30px;
    margin: 10px;
    background: #fff;
    color: #7c0f0f;
    text-transform: uppercase;
    border: none;
    &:focus{
        outline: none;
    }
}
