.restaurant-show-on-map, .restaurant-details{
    width: 230px;
    text-align: center;
    height: 30px;
    margin: 3px 0;
    background: #fff;
    color: #7c0f0f;
    text-transform: uppercase;
    border: none;
}