
.login-page-body {
    background-image: url('./login-page-background.jpg');
    background-repeat: no-repeat;
    padding: 100px 0;
    background-size: cover;
}

.sign-container {
    width: 800px;
    height: 470px;
    margin: 0 auto;
    background: #fff;
    display: flex;
    position: relative;
}

.sign-form-container, .sign-info-container {
    width: 50%;
    border: none;
    text-align: center;
}

.or-container {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #dadada;
    border-radius: 50%;
    line-height: 50px;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    font-size: 16px;
    color: #000;
    text-align: center;
}
 
.sign-info-container {
    background-image: url('./login-info.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    
    h3 {
        text-transform: uppercase;
        color: #fff;
        font-size: 36px;
        font-weight: 300;
        margin-top: 165px;
        margin-bottom: 50px; 
    }

    p {
        margin-top: 5px;
        font-size: 12px;
        font-weight: 500;
    }

    .change-button {
        display: block;
        width: 200px;
        text-align: center;
        height: 45px;
        margin: auto;
        background: rgba(255,255,255,0.3);
        border: 2px solid #fff;
        color: #fff;
        font-size: 16px;
        font-weight: 500;

        &:hover {
            background: rgba(255,255,255,0.7);
            color: #000;
        }

        &:focus{
            outline: none;
        }
    }
}

.social-icons-container {
    position: relative;
    margin: auto;
    margin-top: -20px;
    margin-bottom: 70px;
    background-color: #7c0f0f;
    width: 220px;

    .fa {
        color: #7c0f0f;
        background-color: #fff;
        border: 2px solid #7c0f0f;
        border-radius: 50%;
        margin: 8px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 30px;
    }
}

.fa.fa-times-circle {
    color: red;
    font-size: 25px;
}

.fa.fa-check-circle {
    color: green;
    font-size: 25px;
}

.form-group {
    width: 300px;
    margin: auto;
}
 
.control-label {
    display: block;
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
}
 
.login-input {
    box-sizing: border-box;
    width: 265px;
    height: 25px;
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
    margin-bottom: 30px;
    padding: 0 5px;

    &:focus{
        outline: none;
    }

    &:placeholder {
        color: #c5c5c5
    }
}
 
.left-button {
    display: block;
    width: 200px;
    text-align: center;
    height: 45px;
    font-size: 16px;
    margin: auto;
    background: #7c0f0f;
    color: #fff;
    border: none;
    margin-top: 50px;
}

