/* find your shop */
.meat-icons {
    margin: 40px 0 10px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 146px;

    .item {
        
    }

    .item-icon {
        height: 82px;
        width: 82px;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;

        img {
            margin-top: 10px;
        }

        &:hover, &.active {
            background: rgba(255, 255, 255, 0.2);
        }
    }

    .item-name {
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        text-align: center;
        padding: 10px 0 5px 0;
    }
}