@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

.carousel{
  margin-top: 20px;
}

.image-gallery-thumbnail.active {
  border: 3px solid #fff;
  background: rgba(255, 255, 255, 0.2);
}

.image-gallery-slides{
  height: 600px;
}

.hovered:hover {
  filter: brightness(100%);
  cursor: pointer;
}

.image-gallery-left-nav{
  margin-left: 250px;
}

.image-gallery-right-nav{
  margin-right: 250px;
}

.image-gallery-left-nav:hover::before, .image-gallery-right-nav:hover::before {
  color: rgba(182, 182, 182, .8);
}

.caption{
  color: #fff;
  font-size: 35px;
  text-align: center;
  top: 580px;
  left: 50%;
  position: absolute;
}

.image-gallery-thumbnails-container{
  margin: 40px 0 10px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 10px 146px;
}

.image-gallery-thumbnail-label{
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

// MEAT ICONS
.ashot-icons-item {
  height: 82px;
  width: 82px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

//   KNIVES
.knives {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  background: #7c0f0f;

  div {
    margin: 10px;
    filter: brightness(60%);
  }

  .knives-french-or-chef {
    width: 86px;
    height: 465px;
    background: url('../assets/sprites/knives_sprites.png') -145px -10px;
  }

  .knives-boning {
    width: 48px;
    height: 364px;
    background: url('../assets/sprites/knives_sprites.png') -403px -10px;
  }

  .knives-filleting {
    width: 53px;
    height: 368px;
    background: url('../assets/sprites/knives_sprites.png') -251px -507px;
  }

  .knives-cleaver {
    width: 115px;
    height: 394px;
    background: url('../assets/sprites/knives_sprites.png') -10px -10px;
  }

  .knives-carving {
    width: 31px;
    height: 351px;
    background: url('../assets/sprites/knives_sprites.png') -403px -394px;
  }

  .knives-fork {
    width: 41px;
    height: 412px;
    background: url('../assets/sprites/knives_sprites.png') -145px -495px;
  }

  .knives-slicing {
    width: 37px;
    height: 468px;
    background: url('../assets/sprites/knives_sprites.png') -346px -10px;
  }

  .knives-scimitar {
    width: 85px;
    height: 491px;
    background: url('../assets/sprites/knives_sprites.png') -10px -424px;
  }

  .knives-butcher {
    width: 75px;
    height: 477px;
    background: url('../assets/sprites/knives_sprites.png') -251px -10px;
  }

}

//   SHRIMP
.shrimp {
  position: relative;
  width: 520px;
  margin: auto;
  background: #7c0f0f;
  top: 50px;
  transform: scale(1.5);

  div{
    filter: brightness(60%);
  }

  .shrimp-body {
    width: 456px;
    height: 212px;
    background: url('../assets/sprites/shrink_sprites.png') -10px -10px;
    position: absolute;
    left: 20px;
    top: 100px;
  }

  .tail-meat {
    width: 199px;
    height: 124px;
    background: url('../assets/sprites/shrink_sprites.png') -10px -242px;
    position: absolute;
    top: 93px;
    left: 59px;
  }
}

// CRAB
.crab {
  position: relative;
  width: 216px;
  background: #7c0f0f;
  margin: auto;
  top: 100px;
  transform: scale(2);

  div{
    filter: brightness(60%);
  }

  .legs {
    width: 216px;
    height: 137px;
    background: url('../assets/sprites/crab_sprites.png') -10px -10px;
    position: absolute;
    top: 47px;
  }

  .claw-meat {
    width: 150px;
    height: 93px;
    background: url('../assets/sprites/crab_sprites.png') -246px -10px;
    position: absolute;
    left: 31px;
  }

  .white-meat {
    width: 106px;
    height: 88px;
    background: url('../assets/sprites/crab_sprites.png') -10px -167px;
    position: absolute;
    top: 66px;
    left: 53px;
  }
}

//FISH
.fish {
  position: relative;
  width: 500px;
  margin: auto;
  background: #7c0f0f;
  top: 150px;
  transform: scale(1.3);

  div{
    filter: brightness(60%);
  }

  .head {
    width: 128px;
    height: 86px;
    background: url('../assets/sprites/fish_sprites.png') -10px -284px;
    position: absolute;
    top: 74px;
  }

  .back {
    width: 364px;
    height: 103px;
    background: url('../assets/sprites/fish_sprites.png') -10px -10px;
    position: absolute;
    left: 75px;
  }

  .caviar {
    width: 90px;
    height: 95px;
    background: url('../assets/sprites/fish_sprites.png') -394px -10px;
    position: absolute;
    top: 77px;
    left: 131px;
  }

  .abdomen-meat {
    width: 77px;
    height: 80px;
    background: url('../assets/sprites/fish_sprites.png') -394px -125px;
    position: absolute;
    top: 73px;
    left: 195px;
  }

  .tail-meat {
    width: 268px;
    height: 131px;
    background: url('../assets/sprites/fish_sprites.png') -10px -133px;
    position: absolute;
    top: 75px;
    left: 273px;
  }
}

// RABBIT
.rabbit {
  position: relative;
  width: 450px;
  margin: auto;
  background: #7c0f0f;
  bottom: 100px;

  div{
    filter: brightness(60%);
  }

  .head-tail {
    width: 420px;
    height: 492px;
    background: url('../assets/sprites/rabbit_sprites.png') -10px -10px;
    position: absolute;
    top: 100px;
  }

  .shoulder {
    width: 152px;
    height: 175px;
    background: url('../assets/sprites/rabbit_sprites.png') -450px -10px;
    position: absolute;
    top: 287px;
    left: 212px;
  }

  .front-leg {
    width: 121px;
    height: 179px;
    background: url('../assets/sprites/rabbit_sprites.png') -450px -205px;
    position: absolute;
    top: 410px;
    left: 217px;
  }

  .saddle {
    width: 144px;
    height: 150px;
    background: url('../assets/sprites/rabbit_sprites.png') -622px -10px;
    position: absolute;
    top: 323px;
    left: 78px;
  }

  .rib {
    width: 113px;
    height: 127px;
    background: url('../assets/sprites/rabbit_sprites.png') -622px -180px;
    position: absolute;
    top: 425px;
    left: 115px;
  }

  .loin {
    width: 94px;
    height: 97px;
    background: url('../assets/sprites/rabbit_sprites.png') -622px -327px;
    position: absolute;
    top: 410px;
    left: 30px;
  }

  .hind-leg {
    width: 170px;
    height: 103px;
    background: url('../assets/sprites/rabbit_sprites.png') -10px -522px;
    position: absolute;
    top: 497px;
    left: 38px;
  }
}

// LAMB
.lamb {
  position: relative;
  width: 500px;
  margin: auto;
  background: #7c0f0f;
  bottom: 50px;
  transform: scale(1.2);

  div{
    filter: brightness(60%);
  }

  .neck {
    width: 129px;
    height: 124px;
    background: url('../assets/sprites/lamb_sprites.png') -292px -10px;
    position: absolute;
    top: 100px;
  }

  .chuck {
    width: 110px;
    height: 111px;
    background: url('../assets/sprites/lamb_sprites.png') -292px -154px;
    position: absolute;
    top: 160px;
    left: 117px;
  }

  .sholder {
    width: 116px;
    height: 262px;
    background: url('../assets/sprites/lamb_sprites.png') -156px -10px;
    position: absolute;
    top: 195px;
    left: 76px
  }

  .breast {
    width: 148px;
    height: 83px;
    background: url('../assets/sprites/lamb_sprites.png') -10px -326px;
    position: absolute;
    top: 259px;
    left: 161px;
  }

  .loin {
    width: 76px;
    height: 101px;
    background: url('../assets/sprites/lamb_sprites.png') -441px -10px;
    position: absolute;
    top: 160px;
    left: 227px;
  }

  .leg {
    width: 126px;
    height: 296px;
    background: url('../assets/sprites/lamb_sprites.png') -10px -10px;
    position: absolute;
    top: 160px;
    left: 292px;
  }
}

// CHICKEN
.chicken {
  position: relative;
  width: 360px;
  margin: auto;
  background: #7c0f0f;
  top: 20px;

  div{
    filter: brightness(60%);
  }

  .neck {
    width: 128px;
    height: 166px;
    background: url('../assets/sprites/chicken_sprites.png') -377px -10px;
    position: absolute;
  }

  .breast {
    width: 113px;
    height: 184px;
    background: url('../assets/sprites/chicken_sprites.png') -525px -10px;
    position: absolute;
    top: 190px;
    z-index: 1;
  }

  .leg {
    width: 191px;
    height: 342px;
    background: url('../assets/sprites/chicken_sprites.png') -10px -10px;
    position: absolute;
    top: 163px;
    left: 20px;
  }

  .wing {
    width: 101px;
    height: 126px;
    background: url('../assets/sprites/chicken_sprites.png') -525px -214px;
    position: absolute;
    top: 157px;
    left: 120px;
  }

  .tail {
    width: 136px;
    height: 189px;
    background: url('../assets/sprites/chicken_sprites.png') -221px -10px;
    position: absolute;
    top: 95px;
    left: 190px;
  }

  .thign {
    width: 80px;
    height: 107px;
    background: url('../assets/sprites/chicken_sprites.png') -377px -196px;
    position: absolute;
    top: 290px;
    left: 200px;
  }
}

// PORK
.pork {
  position: relative;
  width: 500px;
  margin: auto;
  background: #7c0f0f;
  bottom: 50px;
  left: 30px;
  transform: scale(1.5);

  div{
    filter: brightness(60%);
  }


.head {
  width: 108px;
  height: 131px;
  background: url('../assets/sprites/pork_sprites.png') -317px -129px;
  position: absolute;
  top: 200px;
}

.arm-shoulder {
  width: 130px;
  height: 93px;
  background: url('../assets/sprites/pork_sprites.png') -160px -132px;
  position: absolute;
  top: 197px;
  left: 55px;
}

.blade-shoulder {
  width: 123px;
  height: 85px;
  background: url('../assets/sprites/pork_sprites.png') -10px -334px;
  position: absolute;
  top: 131px;
  left: 60px;
}

.hock {
  width: 287px;
  height: 102px;
  background: url('../assets/sprites/pork_sprites.png') -10px -10px;
  position: absolute;
  top: 264px;
  left: 95px;
}

.loin {
  width: 143px;
  height: 99px;
  background: url('../assets/sprites/pork_sprites.png') -317px -10px;
  position: absolute;
  top: 116px;
  left: 164px;
}

.spare-rib {
  width: 120px;
  height: 66px;
  background: url('../assets/sprites/pork_sprites.png') -160px -245px;
  position: absolute;
  top: 210px;
  left: 185px;
}

.side {
  width: 95px;
  height: 61px;
  background: url('../assets/sprites/pork_sprites.png') -153px -334px;
  position: absolute;
  top: 212px;
  left: 234px;
}

.leg {
  width: 130px;
  height: 182px;
  background: url('../assets/sprites/pork_sprites.png') -10px -132px;
  position: absolute;
  top: 120px;
  left: 300px;
}
}

// BEEF
.beef {
  position: relative;
  width: 550px;
  margin: auto;
  background: #7c0f0f;
  top: 50px;
  left: 30px;
  transform: scale(1.5);

  div{
    filter: brightness(60%);
  }

  .head {
    width: 147px;
    height: 114px;
    background: url('../assets/sprites/beef_sprites.png') -10px -196px;
    position: absolute;
  }

  .chuck {
    width: 124px;
    height: 91px;
    background: url('../assets/sprites/beef_sprites.png') -10px -330px;
    position: absolute;
    left: 98px;
    top: 34px;
  }

  .rib {
    width: 66px;
    height: 88px;
    background: url('../assets/sprites/beef_sprites.png') -378px -186px;
    position: absolute;
    left: 220px;
    top: 35px;
  }

  .loin {
    width: 53px;
    height: 81px;
    background: url('../assets/sprites/beef_sprites.png') -501px -10px;
    position: absolute;
    left: 282px;
    top:38px;
  }

  .sirloin {
    width: 63px;
    height: 75px;
    background: url('../assets/sprites/beef_sprites.png') -289px -330px;
    position: absolute;
    left: 336px;
    top: 38px;
  }

  .round {
    width: 103px;
    height: 156px;
    background: url('../assets/sprites/beef_sprites.png') -378px -10px;
    position: absolute;
    left: 403px;
    top: 35px;
  }

  .brisket {
    width: 55px;
    height: 65px;
    background: url('../assets/sprites/beef_sprites.png') -372px -330px;
    position: absolute;
    left: 114px;
    top: 130px;
  }

  .plate {
    width: 115px;
    height: 75px;
    background: url('../assets/sprites/beef_sprites.png') -154px -330px;
    position: absolute;
    left: 171px;
    top: 125px;
    z-index: 1;
  }

  .flank {
    width: 136px; height: 96px;
    background: url('../assets/sprites/beef_sprites.png') -177px -196px;
    position: absolute;
    left: 284px;
    top: 112px;
    z-index: 1;
  }

  .shank {
    width: 348px; height: 166px;
    background: url('../assets/sprites/beef_sprites.png') -10px -10px;
    position: absolute;
    left: 155px;
    top: 140px;
  }
}

// BEAR
.bear {
  position: relative;
  width: 500px;
  margin: auto;
  background: #7c0f0f;
  top: 30px;
  transform: scale(1.5);

  div{
    filter: brightness(60%);
  }

  .head {
    width: 93px;
    height: 95px;
    background: url('../assets/sprites/bear_sprites.png') -261px -131px;
    position: absolute;
    top: 56px;
  }

  .ear {
    width: 34px;
    height: 32px;
    background: url('../assets/sprites/bear_sprites.png') -545px -313px;
    position: absolute;
    top: 32px;
    left: 61px;
  }

  .neck {
    width: 43px;
    height: 123px;
    background: url('../assets/sprites/bear_sprites.png') -482px -10px;
    position: absolute;
    top: 29px;
    left: 93px;
  }

  .chuck {
    width: 110px;
    height: 116px;
    background: url('../assets/sprites/bear_sprites.png') -10px -10px;
    position: absolute;
    left: 135px;
  }

  .rib {
    width: 62px;
    height: 76px;
    background: url('../assets/sprites/bear_sprites.png') -330px -300px;
    position: absolute;
    top: 23px;
    left: 240px;
  }

  .shotr-loin {
    width: 54px;
    height: 131px;
    background: url('../assets/sprites/bear_sprites.png') -376px -124px;
    position: absolute;
    top: 18px;
    left: 295px;
  }

  .loin {
    width: 78px;
    height: 134px;
    background: url('../assets/sprites/bear_sprites.png') -10px -146px;
    position: absolute;
    top: 14px;
    left: 331px;
  }

  .rump {
    width: 86px;
    height: 84px;
    background: url('../assets/sprites/bear_sprites.png') -10px -300px;
    position: absolute;
    top: 32px;
    left: 376px;
  }

  .tail {
    width: 29px;
    height: 63px;
    background: url('../assets/sprites/bear_sprites.png') -545px -230px;
    position: absolute;
    top: 92px;
    left: 454px;
  }

  .brisket {
    width: 56px;
    height: 98px;
    background: url('../assets/sprites/bear_sprites.png') -10px -404px;
    position: absolute;
    top: 121px;
    left: 138px;
  }
  .shoulder {
    width: 95px;
    height: 101px;
    background: url('../assets/sprites/bear_sprites.png') -261px -10px;
    position: absolute;
    top: 123px;
    left: 182px;
  }
  .short-ribs {
    width: 52px;
    height: 46px;
    background: url('../assets/sprites/bear_sprites.png') -545px -164px;
    position: absolute;
    top: 102px;
    left: 241px;
  }
  .plate {
    width: 78px;
    height: 53px;
    background: url('../assets/sprites/bear_sprites.png') -86px -404px;
    position: absolute;
    top: 150px;
    left: 251px;
  }
  .flank {
    width: 42px;
    height: 58px;
    background: url('../assets/sprites/bear_sprites.png') -545px -86px;
    position: absolute;
    top: 151px;
    left: 330px;
  }

  .round {
    width: 101px;
    height: 114px;
    background: url('../assets/sprites/bear_sprites.png') -140px -10px;
    position: absolute;
    top: 110px;
    left: 371px;
  }
  .fore-shank {
    width: 95px;
    height: 111px;
    background: url('../assets/sprites/bear_sprites.png') -108px -146px;
    position: absolute;
    top: 178px;
    left: 106px;
  }
  .fore-shank-1 {
    width: 86px;
    height: 94px;
    background: url('../assets/sprites/bear_sprites.png') -376px -10px;
    position: absolute;
    top: 191px;
    left: 201px;
  }
  .hind-shank {
    width: 87px;
    height: 76px;
    background: url('../assets/sprites/bear_sprites.png') -223px -300px;
    position: absolute;
    top: 202px;
    left: 312px;
  }
  .hind-shank-1 {
    width: 87px;
    height: 76px;
    background: url('../assets/sprites/bear_sprites.png') -116px -300px;
    position: absolute;
    top: 193px;
    left: 402px;
  }
  .foot-1 {
    width: 76px;
    height: 30px;
    background: url('../assets/sprites/bear_sprites.png') -261px -246px;
    position: absolute;
    top: 278px;
    left: 67px;
  }
  .foot-2 {
    width: 78px; height: 24px;
    background: url('../assets/sprites/bear_sprites.png') -184px -404px;
    position: absolute;
    top: 282px;
    left: 174px;
  }
  .foot-3 {
    width: 72px; height: 26px;
    background: url('../assets/sprites/bear_sprites.png') -10px -522px;
    position: absolute;
    top: 275px;
    left: 283px;
  }
  .foot-4 {
    width: 64px; height: 56px;
    background: url('../assets/sprites/bear_sprites.png') -545px -10px;
    position: absolute;
    top: 245px;
    left: 429px;
  }
}


.recepts {
  margin: 50px auto;
  text-align: center;
  color: #fff;

  p {
    width: 60%;
    margin: 0 auto;
    text-align: justify;
  }

  img {
    margin: 30px 0;
    min-width: 100%;
    height: auto;
  }

}

.ashot-icons {
    margin: 40px 0 10px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 146px;

    .item {

    }

    .item-icon {
        height: 55px;
        width: 55px;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;

        img {
            margin-top: 10px;
        }

        &:hover, &.active{
            background: rgba(255, 255, 255, 0.2);
        }
    }

    .item-name {
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        text-align: center;
        padding: 10px 0 5px 0;
    }
}