.account-body{
    display: flex;
    box-sizing: border-box;
    align-items: flex-start;

    .left-sidebar {
        width: 300px;

        .account-info {
            height: 220px;
            border: 1px solid #fff;

            .logo {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin: 10px auto;
                overflow: hidden;
                position: relative;

                &:hover .change-button {
                    opacity: 1;
                }

                img {
                    width: 100%;
                }

                & > input {
                    display: none;
                }

                .change-button {
                    height: 45px;
                    line-height: 45px;
                    font-size: 14px;
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: rgba(29,32,34,.7);
                    color: #fff;
                    opacity: 0;
                    transition: .5s ease;
                    cursor: pointer;

                    span {
                        opacity: 0.8;
                    }

                    &:hover > span{
                        opacity: 1;
                    }
                }
            }

            .displayName {

                width: 200px;
                margin: 20px auto;
                color: #fff;
                font-size: 22px;
                text-align: center;
                position: relative;

                .text:hover ~ .fa-pencil {
                    opacity: 0.7;
                }

                .fa-pencil {
                    position: absolute;
                    margin-left: 6px;
                    color: rgba(255,255,255,.9);
                    font-size: 20px;
                    cursor: pointer;
                    opacity: 0;
                    transition: .2s ease;

                    &:hover {
                        opacity: 1;
                    }
                }

                input {
                    width: 100%;
                    text-align: center;
                    font-size: inherit;
                    font-family: 'Roboto', sans-serif;
                    border: none;
                    background: #fff;

                    &:focus{
                        outline: none;
                    }
                }
            }
        }

        .menu-profile {
            .item{
                padding: 20px;
                color: #fff;
                border: 1px solid #fff;
                display: block;

                &.active , &:hover {
                    background: rgba(255,255,255,.2);
                }
            }
        }
    }

    .main-section {
        flex: auto;
        margin-left: 20px;
        /*border: 1px solid #fff;*/
        color: #fff;
        .partners {
            .type-container {
                border: 1px solid #fff;
                padding: 20px;

                &:nth-child(n+2) {
                    margin-top: 20px;
                }

                .header {
                    display: flex;
                    margin-bottom: 20px;
                    justify-content: space-between;

                    .title {
                        font-size: 22px;
                        
                    }

                    .add-button {
 
                        border: 1px solid #fff;
                        text-align: center;
                        padding: 20px;
                    }
                }

                .item {
                    border: 1px solid #fff;
                    padding: 20px;
                    display: flex;

                    &:hover {
                        background: rgba(255,255,255,.2);
                    }

                    img {
                        width: 100px;
                        height: 100px;
                    }

                    .body {
                        flex: auto;
                        margin-left: 20px;

                        .title{
                            font-size: 22px;
                            font-weight: 700;
                            margin-bottom: 5px;
                        }

                        .address {
                            font-size: 16px;
                            margin: 5px 0;

                            &:before {
                                font-family: FontAwesome;
                                content: "\f041";
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }

            .add-partner {
                border: 1px solid #fff;
                padding: 20px;

                & > .header {
                    position: relative;

                    .back-button {
                        position: absolute;
                        left: 0;
                        top: 0;
                        padding: 10px 20px;;
                        border: 1px solid #fff;
                        background: inherit;
                        color: #fff;
                    }

                    .title {
                        font-size: 24px;
                        margin-bottom: 25px;
                        text-align: center;
                    }
                }

                .label {
                    display: flex;
                    align-items: center;

                    &:nth-child(n+2) {
                        margin-top: 10px;
                    }

                    & > .title {
                        width: 200px;
                        font-size: 18px;
                    }

                    input[type="text"], select, .file {
                        width: 300px;
                        box-sizing: border-box;
                        border: 1px solid transparent;
                        height: 32px;
                        padding: 0 12px;
                        border-radius: 3px;
                        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                        font-size: 14px;
                        background: #fff;
                        outline: none;
                        text-overflow: ellipses;
                        color: #000;

                        &:focus {
                            outline: none;
                        }
                    }

                    .file {
                        line-height: 32px;
                        width: 150px;
                        text-align: center;

                        &:hover {
                            background: darken(#fff,10%);
                        }
                    }

                    input[type="file"]{
                        display: none;
                    }

                    textarea {
                        width: 300px;
                        border: 1px solid transparent;
                        box-sizing: border-box;
                        padding: 12px;
                        border-radius: 3px;
                        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                        font-size: 14px;
                        outline: none;
                        text-overflow: ellipses;
                        font-family: 'Roboto', sans-serif;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                button {
                    width: 100px;
                    height: 40px;
                   
                    text-align: center;
                    border: 1px solid #fff;
                    background: inherit;
                    color: #fff;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }

                    &:hover {
                        background: rgba(255,255,255,.2)
                    }

                }
                
            }
        }
    }
}