.page-heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    color: #fff;
    font-weight: 300;
    padding: 40px 0px;
}

.find-tabs {
    height: 65px;
    background: #fff;
}

.flex-tabs {
    display: flex;
    flex-direction: row;
}

.find-tab {
    width: 50%;
    height: 65px;
    line-height: 65px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.tab-red {
    color: #e33834;
    &:hover, &.active {
        color: #fff;
        background: #e33834;
    }
}

.tab-yellow {
    color: #e9a836;
    &:hover, &.active {
        color: #fff;
        background: #e9a836;
    }
}

.tab-light-green {
    color: #a0a90e;
    &:hover, &.active {
        color: #fff;
        background: #a0a90e;
    }
}

