.shopping-cart-list {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;

    .titles {
        height: 50px;
        line-height: 50px;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        flex-direction: row;
        font-weight: 700;
        text-align: center;

        .product{
            width: 40%;
        }
        .quantity, .price, .subtotal {
            width: 19%;
        }

    }

    .item {
        height: 90px;
        padding: 10px;
        border-bottom: 1px solid #000;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;

        &:nth-child(2) {
            border-top: 1px solid #000;
        }

        .product{
            width: 40%;
            display: flex;
            flex-direction: row;

            img {
                width: 70px;
                height: 70px;
            }

            .body {
                margin-left: 10px;

                .name {
                    font-weight: 700;
                    color: #000;
                    font-size: 22px;
                    margin-bottom: 5px;
                }

                .seller {
                    color: #ccc;
                    font-size: 18px;

                }
            }
        }
        .quantity {
            width: 19%;

            .product-calc{
                margin: 20px auto;
                text-align: center;
                span{
                    margin: auto 10px;
                    cursor: pointer;
                }
            }
        
            .product-amount{
                width: 40px;
                height: 25px;
                text-align: center;
            }
        
            input[type=number]{
                border: 1px solid #000;
                background-color: inherit;
                &:focus{
                    outline: 0;
                }
            }
        
            input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
                -webkit-appearance: none;
                margin: 0;
            }
        }
        .price, .subtotal {
            width: 19%;
            margin: auto 0;
            text-align: center;
            font-size: 20px;
        }

        .delete {
            width: 3%;
            margin: auto 0;
            text-align: center;

            .fa-times {
                cursor: pointer;
            }
        }
    }

    .total {
        padding: 20px 20px 0 0;
        text-align: right;
        color: #000;
        font-size: 24px;
    }

    .continue {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 20px;

        button {
            background: inherit;
            color: #7c0f0f;
            padding: 10px 20px;
            border: 1px solid #7c0f0f;
            font-size: 20px;

            &:focus {
                outline: none;
            }

            &:hover {
                background:#7c0f0f;
                color: #fff;
                cursor: pointer;
            }
        }
    }

  }