.sidebar {
    width: 300px;
}

.sidebar-left {
    margin-right: 10px;
}

.sidebar-right {
    margin-left: 10px;
}

.center-container {
    flex: auto;
    /*padding: 5px;*/

    img {
        width: 100%;
    }
}

.search-container {
    position: relative;
    vertical-align: middle;
    white-space: nowrap;

    .fa-search {
        position: absolute;
        top:50%;
        right: 15px;
        margin-top: -12.5px;
        z-index: 1;
        color: #000;
        font-size: 25px;
    }
}

.searchInput {
    /* position: absolute;
    top: 0;
    left:0; */
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    padding-left: 15px;
    border: none;
    outline: none;
    font-size: 19px; /* 16pt = 22px * but it's too big*/
    font-weight: 300;
    color: #000;

    &::placeholder {
        color: #989898;
    }
}

.search-result-container {
    margin-top: 25px;
    padding: 0 15px;
    height: 430px;
    overflow: hidden;

    &:hover {
        overflow-y: auto;
    }

}

.search-response {
    width: 270px;
}

.category-name {
    background: #fff;
    font-size: 19px;
    font-weight: 500;
    width: 270px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    margin: 5px 0;

    &:first-of-type {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.category-body {

}

.category-body-item {
    width: 270px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    color: #fff;
    font-weight: 300;
    font-size: 19px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 5px 0;

    &:hover, &.active {
        border-radius: 15px;
        position: relative;
        background: rgba(255, 255, 255 ,0.2);
    }
}

.delete-item-button {
    position: absolute;
    right: 15px;
    top: calc(50% - 16px);
    user-select: none;
}
