@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

footer {
    padding: 25px;
    margin-top: 50px;

    ul {
        display: inline-block;
    }

    .left-column {
        width: 49%;
        padding-left: 5%;
        text-transform: uppercase;
        .social-networks {
            padding: 5px;
            .github {
                width: 32px; height: 32px;
                display: inline-block;
                padding-right: 5px;
                background: url('./socials_sprites.png') -10px -62px;
                &:hover {
                    background: url('./socials_sprites.png') -62px -62px;
                }
            }
            .facebook {
                width: 32px; height: 32px;
                display: inline-block;
                padding-right: 5px;
                background: url('./socials_sprites.png') -10px -10px;
                &:hover {
                    background: url('./socials_sprites.png') -62px -10px;
                }
            }
            .instagram {
                width: 32px; height: 32px;
                display: inline-block;
                background: url('./socials_sprites.png') -114px -10px;
                &:hover {
                    background: url('./socials_sprites.png') -114px -62px;
                }
            }
        }
    }
    .right-column {
        width: auto;
        position: relative;
        top: -10px;
        li {
            &:first-child {
                padding-bottom: 10px;
            }
        }
    }

    .title {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 40px;
        width: 20%;
    }

    @media screen and (max-width: 768px) {
        ul {
            display: block;
            text-align: center;
        }

        .left-column {
            padding: 0;
            width: auto;
        }

        .right-column {
            padding-top: 20px;
            top: 0px;
        }
    }
}
