.mealItem {
    border: none;
    text-align: center;
    width: 220px;
    max-height: 250px;
    margin: 10px;
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    vertical-align: middle;

    div {
        padding: 5px;
    }

    &:hover, &.active {
        background: rgba(255, 255, 255, 0.2);
    }

    .meal-name {
        font-size: 16px;
        font-weight: bold;
        padding: 10px 0 5px 0;
    }

    .meal-img img {
        width: 90%;
        height: 100px;
        margin: auto;
    }

    .meal-price {
        margin-top: 10px;
    }

    .meal-place {
        height: 20px;
        text-overflow: ellipsis;
    }

    button     {
        width: 90%;
        text-align: center;
        height: 25px;
        margin: 10px auto;
        background: #fff;
        color: #7c0f0f;
        text-transform: uppercase;
        border: none;
        &:focus{
            outline: none;
        }
        &:hover{
            background: inherit;
            color: #fff;
            border: 1px solid #fff;
        }
    }
}
