.mealItem {
    border: 1px solid #fff;
    text-align: center;
    width: 200px;
    height: 250px;
    margin: 10px 20px;
    color: #fff;
    padding: 20px;
    display: inline-block;

    .meal-name {
        font-size: 22px;
        font-weight: bold;
    }

    .meal-img img {
        max-width: 90%;
        height: 150px;
        margin: auto;
    }

    .meal-price {
        margin-top: 10px;
    }

    button     {
        width: 90%;
        text-align: center;
        height: 25px;
        margin: 3px 0;
        background: #fff;
        color: #7c0f0f;
        text-transform: uppercase;
        border: none;
        &:focus{
            outline: none;
        }
        &:hover{
            background: inherit;
            color: #fff;
            border: 1px solid #fff;
        }
    }
}
